body{
    font: 20px;
}

.navbar{
    background-color: rgb(11, 121, 66);
}

.quemsomos{
    background-color: rgb(18, 155, 102);
    color: white;
}

.parceiros{
    background-color: rgb(208, 216, 194);
}
.servicos{
    background-color: cornflowerblue;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;

}

.bg-footer{
    background-color: black;
    color: cornsilk;
}

.menu{
    font-size: 40px;
}